.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

img {
  width: 80%;
}

.about-img img {
  border-radius: 0.5rem;
}

.about-text h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}
